<!doctype html>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="utf-8">
    <title>Angular Testing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/ToDoController.js"></script>
    <script type="text/javascript" src="js/services/ToDoFactory.js"></script>
    <script type="text/javascript" src="js/services/ToDoService.js"></script>
  </head>
  <body>
    <div ng-controller="ToDoAppController as controller">
      <select ng-model="showCompleted">
        <option value="" selected>All</option>
        <option value="true">Completed</option>
        <option value="false">Active</option>
      </select>
      <p id="total">Total todos: {{controller.todos.length}}</p>
      <ul>
        <li ng-repeat="todo in controller.todos | filter:showCompleted">
          {{todo.text}} - {{todo.completed ? "completed" : "not completed"}}
          <button ng-click="todo.complete()">Complete</button>
        </li>
      </ul>
      <input ng-model="toDoText" type="text">
      <button id="add" ng-click="controller.addToDo(toDoText)">Add</button>
      <button id="remove" ng-click="controller.removeToDo()">Remove Last</button>
      <button id="removeCompleted" ng-click="controller.removeCompleted()">Remove All Completed Todos</button>
    </div>
  </body>
</html>
