<!doctype html>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="utf-8">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/ToDoController.js"></script>
    <script src="js/services/ToDoFactory.js"></script>
    <title>Todos App</title>
  </head>
<body>
  <div id="todo" ng-controller="ToDoController as controller">
    <ul>
      <li ng-repeat="todo in controller.todos">
        {{todo.text}}: {{todo.completed ? "completed" : "not completed"}}
        <button id="complete" ng-click="todo.complete()">Complete</button>
      </li>
    </ul>
    <input type="text" ng-model="thetask" placeholder="Enter your task here">
    <button id="add" ng-click="controller.addTodo(thetask);">Add task</button>
    <button id="remove" ng-click="controller.removeTodo();">Remove last to do</button>
  </div>
</body>
</html>
